<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/BaiduNews.css">
	<title>百度新闻</title>
</head>
<body>
	<!-- 容器 -->
	<div class="container">
		<!-- 导航栏容器 -->
		<div class="navWrapper">
			<!-- 导航栏 -->
			<div class="nav">
				<a href="https://m.baidu.com/" class="baiduIcon"></a>
				<a class="profileIcon"></a>
				<a class="addIcon"></a>
				<a class="searchIcon"></a>
			</div>
			<!-- 导航栏 end -->
			<!-- 标签栏 -->
			<div class="tag">
				<ul>
					<li>
						<b></b>
						<a id="theIndex">社会</a>
					</li>
					<li>
						<b></b>
						<a >百家</a>
					</li>
					<li>
						<b></b>
						<a >本地</a>
					</li>
					<li>
						<b></b>
						<a >国际</a>
					</li>
					<li>
						<b></b>
						<a >科技</a>
					</li>
				</ul>
			</div>
			<!-- 标签栏 end -->
		</div>
		<!-- 导航栏容器 end -->
		<!-- 新闻容器 -->
		<div class="newsWrapper">
			<!-- 模型 -->
			<!-- <div class="newsBlock">
				<div class="newsContent">
					<div class="imgBox">
						<img src="./icon/social1.jpg">
					</div>
					<div class="textBox">
						<div class="newsTitle">无控制、共同控制、重大影响等三无股权投资怎么会计核算</div>
						<div class="timeBox">
							<b>2016-09-30</b>
						</div>
					</div>
				</div>
			</div> -->
			<!-- 模型 end -->
		</div>
		<!-- 新闻容器 end -->
	</div>
	<!-- 容器 end -->
    <!-- script -->
    <script src="./javascripts/jquery-3.1.0.js"></script>
    <script src="./javascripts/BaiduNews.js"></script>
</body>
</html>