//颜色
//--------------
$green:#005f3c;
$white:#fafafa;
$red:#ff0000;


@mixin box-shadow ($shadow) {
    -webkit-box-shadow:$shadow;     
       -moz-box-shadow:$shadow;
            box-shadow:$shadow;
}

//公共属性
//--------------
.theLineOfArrow{
	float: left;
	width: 32px;
	height: 15px;
	border-bottom: 3px solid $green;
}
.theArrowOfArrow{
	float: left;
	width: 0;
	height: 0px;
	border: 8px solid $green;
	margin-top: 10px;
	border-top: none;
    border-left: none;
    border-right-color: transparent;
    border-right-width: 18px;
}


//样式代码
//--------------
body{
	background-color: #999;
}

.wrapper{
	background-color: #fff;
	width: 600px;
	position: relative;
	height: 390px;
	font-family: Verdana, "Lantinghei SC", "Hiragino Sans GB", "Microsoft Yahei", Helvetica, arial, \5b8b\4f53, sans-serif;
	@include box-shadow(2px 2px 5px 5px rgb(119, 112, 112));

	.header{
		width: 100%;
		height: 170px;
		/*position: relative;*/
		/*background-color: black;*/
		/*padding-top: 21px;*/

		.headerLeft{
			position: absolute;
			/*float: left;*/
			top: 24px;
			width: 200px;
			height: 146px;
			/*background-color: blue;*/

			.lineBox{				
				/*margin-top: 21px;*/
				background-color: $red;
				width: 200px;
				height: 110px;

				.lineNum{
					display: block;
					margin: -21px auto;
					width: 100%;
					position: absolute;
					/*vertical-align: middle;*/
					text-align: center;
					font-size: 120px;
					color: $white;
				}
			}
				
			.timeBox{
				display: inline-block;
				vertical-align: middle;
				font-size: 15px;
				width: 100%;
				margin-top: 8px;
				color: #333;
				text-align:center;
			}
		}

			
		.headerRight{
			position: absolute;
			/*float: left;*/
			right: 0;
			top: 24px;
			width: 400px;
			height: 146px;

			.centerArrowBox{
				/*background-color: black;*/
				position: absolute;
				left: 175px;
				top: 30px;
				display: block;
				width: 50px;
				height: 30px;
				/*margin: 30px auto;*/
					
				.startPoint{
				    margin-top: -10px;
				    margin-left: -147px;
				}
				.terminalPoint{
				    margin-top: -51px;
				    margin-left: 74px;
				}
				.station{
					position: relative;
					width: 123px;
					height: 51px;
					/*background-color: green;*/


					.stationText{
						position: absolute;
						top: 6px;
						width: 100%;
						/*vertical-align: middle;*/
						text-align: center;
						font-size: 28px;
						font-weight: 600;
						color: $green;
					}
					.pinyin{
						position: absolute;
						top: 53px;
						width: 100%;
						/*vertical-align: middle;*/
						text-align: center;
						font-size: 12px;
						font-weight: 600;
						color: $green;
					}
				}

				.thisStation{
				    margin-top: 24px;
				    margin-left: -36px;

				    .thisStationText{
						position: absolute;
						top: 6px;
						width: 100%;
						/*vertical-align: middle;*/
						text-align: center;
						font-size: 18px;
						font-weight: 600;
						color: $red;
					}
				}	
			}	
		}	
	}
		
	.contentWrapper{
		width: 100%;
		height: 168px;
		background-color: $green;

		.borderCell{
			float: left;
			width: 27px;
			height: 100%;
			/*background-color: black;*/

		}
		.contentCell{
			float: left;
			width: 21px;
			height: 100%;
			/*background-color: black;*/

			.contentCellText{
				width: 21px;
				margin-top: 14px;
				font-size: 13px;
				text-align: center;
				color: $white;
			}
			.arrowUp{
				width: 0;
				height: 0;
			    margin: 6px auto 0;
			    border: 7.5px solid $white;
				border-top: none;
				border-left-color: transparent;
				border-right-color: transparent;
			}
			.arrowStick{
				width: 8px;
				height: 5px;
				background-color: $white;
			    margin: 0 auto;
			}
		}
	}
		
	.footer{
		position: relative;

		.footerText{
			font-size: 13px;
			font-weight: 500;
			text-align: center;
			margin-top: 6px;
		}
		.footerArrow{
			position: absolute;
		    top: 3px;
		    left: 23%;
		    display: inline-block;

		    .footerArrowLine{
				width: 308px;
				border-bottom-color: $red;
			}
			.footerArrowRight{
				border-right-width: 30px;
				border-bottom-color: $red;
			}
		}
	}
}

	


