<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/newsCenter.css">
    <title>新闻数据</title>
</head>

<body>
    <!-- 包装 -->
    <div class="container">
        <!-- 链接 -->
        <div class="col-md-12 linkage">
            <a href="/newsCenter">首页</a>&nbsp;>&nbsp;新闻管理&nbsp;>&nbsp;新闻数据
        </div>
        <!-- 链接 end -->
        <!-- 标题 -->
        <h2 class="col-md-12 slogan">新闻数据列表</h2>
        <!-- 标题 end -->
        <!-- <input type="text" name="keyForNewsId" id="keyForNewsId"> -->
        <!-- 表格 -->
        <div class="col-md-12 col-xs-12 tableContainer">
            <div class="col-md-12 col-xs-12">
                <div class="col-md-1 col-xs-1">ID</div>
                <div class="col-md-2 col-xs-2"><span>新闻图片</span></div>
                <div class="col-md-1 col-xs-1"><span>类型</span></div>
                <div class="col-md-4 col-xs-4"><span>新闻标题</span></div>
                <div class="col-md-2 col-xs-2"><span>新闻时间</span></div>
                <div class="col-md-2 col-xs-2">操作</div>
            </div>
        </div>
        <!-- 表格 end -->        
    </div>
    <!-- 包装 end -->
    <!-- script -->
    <script src="./javascripts/jquery-3.1.0.js"></script>
    <script src="./javascripts/newsCenter.js"></script>
</body>

</html>
