/*初始化*/

* {
    margin: 0;
    padding: 0;
}


/*html*/

html {
    height: 100%;
}


/*body*/

body {
    position: relative;
    height: 100%;
    min-height: 510px min-width: 700px;
}


/*容器*/

.contain {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 380px;
    min-width: 810px;
}


/**************************** 导航栏 ****************************/

.nav {
    float: right;
    text-align: right;
    height: 48px;
    line-height: 48px;
    min-width: 540px;
}


/*取消链接的下划线*/

.pic a:link {
    text-decoration: none;
}

.pic a:visited {
    text-decoration: none;
}

.pic a:hover {
    text-decoration: underline;
}

.pic a:active {
    text-decoration: none;
}


/*容器*/

.menu {
    float: right;
    width: 96px;
    margin-left: 16px;
}


/*菜单*/

.menu .more {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 12px;
    background-color: rgb(51, 133, 255);
    font-size: 13px;
    width: 64px;
    color: white;
    height: 24px;
    line-height: 24px;
    text-align: center;
}


/*鼠标划到按钮时的状态*/

.more:hover {
    background-color: rgb(249, 249, 249);
    color: black;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    width: 96px;
    height: 100%;
    padding-top: 12px;
    border-left: 1px solid rgb(231, 231, 231);
    /*position: absolute;*/
}


/*鼠标划过按钮时显示*/

.menu .more:hover .pic {
    display: block;
}

.menu .more:hover .menu {
    margin-left: 0;
}

.menu .pic {
    display: none;
    height: 540px;
}


/*分割线*/

.hr {
    width: 80%;
    margin-left: 10%;
    border: 1px solid rgb(240, 240, 240);
}


/*链接容器*/

.linkage {
    width: 80px;
    height: 80px;
    display: block;
}


/*最下面贩链接容器*/

.lastLinkage {
    width: 160px;
    height: 32px;
    display: block;
}


/*图片属性*/

.img {
    width: 48px;
    height: 48px;
    padding-top: 16px;
    padding-left: 16px;
    border: none;
}


/*关键字属性*/

.keyWord {
    margin-top: -16px;
    display: block;
    width: 96px;
    color: rgb(102, 102, 102);
    text-align: center;
    margin-top: -3px\9;
    *margin-top: -3px;
}


/*最后一个关键字的属性*/

.lastKeyWord {
    margin-top: 8px;
    display: block;
    width: 96px;
    color: rgb(102, 102, 102);
    text-decoration: underline;
}


/*顶部导航栏中的文字*/

.aFontSize {
    font-size: 13px;
    margin-right: 32px;
    color: black;
    float: right;
}

.aFontSize:hover {
    color: blue;
}


/*最后一个关键字的属性*/

.lastFontSize {
    font-size: 13px;
    color: black;
    float: right;
}

.lastFontSize:hover {
    color: blue;
}


/*百度LOGO容器*/

.LogoContain {
    margin: 0 auto;
    clear: both;
    width: 700px;
}


/*百度LOGO*/

.logo {
    width: 270px;
    height: 129px;
    margin: 0 auto;
    display: block;
}


/**************************** 搜索组件容器 ****************************/

.cigarette {
    width: 650px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 16px;
}


/*搜索框*/

.inputBorder {
    border: 1px solid #AAAAAA;
    width: 540px;
    height: 30px;
    /*text-indent: 5px;*/
    outline: none;
    font-size: 15px;
    float: left;
    border-right: none;
    padding: 3px 0 3px 7px;
}

.inputBorder:focus {
    border: 1px solid rgb(51, 133, 255);
    border-right: none;
}


/*百度一下*/

.buttonBorder {
    float: left;
    border: none;
    background-color: rgb(51, 133, 255);
    font-size: 15px;
    color: white;
    outline: none;
    margin: 0 auto;
    width: 100px;
    height: 38px;
    line-height: 38px;
    cursor: pointer;
    letter-spacing: 1px;
    vertical-align: middle;
    /*padding: 3px 0 3px 0;*/

}

.buttonBorder:hover {
    background-color: rgb(31, 113, 235);
}

.buttonBorder:active {
    background-color: rgb(21, 103, 225);
}


/*图片按钮*/
.cigarette form{
    position: relative;
}
.imgBox {
    /*position: relative;
    float: left;
    margin-left: -63px;
    margin-top: -11px;*/
    position: absolute;
    display: inline-block;
    width: 63px;
    height: 30px;
    right: 114px;
    top: -10px;
}


/*麦克风图片*/

.imgs {
    /*margin-top: 21px;*/
    width: 13px;
    height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../Icon/microphone.png);
}

.imgs:hover {
    background-image: url(../Icon/highlight.png);
}


/*相机图片链接*/

.imgssA {
    /*margin-top: 21px;*/
    width: 18px;
    height: 18px;
    background-image: url(../Icon/camera.png);
    display: inline-block;
    background-size: 100%;
    _background-size: 50%;
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.imgssA:hover {
    background-position: bottom;
}


/*相机图片*/

.imgss {
    width: 18px;
    height: 36px;
}


/*纵向分割线*/

.hrVertical {
    width: 1px;
    height: 15px;
    margin-top: 22.5px;
    margin-right: 6px;
    margin-left: 6px;
    border-left: 1px solid rgb(219, 219, 219);
    display: inline-block;
}


/**************************** 底部组件容器 ****************************/

.footer {
    height: 90px;
    position: absolute;
    bottom: 21px;
    font: 12px arial;
    text-align: center;
    width: 100%;
}
/*底部容器*/
.footerBox{
    display: inline-block;
    width: 680px;
    /*position: relative;*/
    text-align: center;

}


/*二维码 手机百度*/

.qrcode1 {
    float: left;
    text-align: center;
}


/*二维码 百度糯米*/

.qrcode2 {
    float: left;
    margin-left: 33px;
    text-align: center;
}


/*二维码图片 手机百度*/

.img1item {
    float: left;
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../Icon/qrcode1.png);
}


/*二维码图片 百度糯米*/

.img2item {
    float: left;
    width: 60px;
    height: 60px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../Icon/qrcode2.png);
}


/*二维码附属文字*/

.text1item {
    float: left;
    margin: 8px 0 0 10px;
    width: 60px;
    height: 60px;
}

.textP1 {
    line-height: 23px;
    color: rgb(102, 102, 102);
}

.textP2 {
    line-height: 23px;
    color: rgb(153, 153, 153);
}


/*底部文字段落P*/

.pBottom {
    float: left;
    margin-left: 33px;
    height: 22px;
    line-height: 22px;
    width: 345px;
    text-align: left;
    color: rgb(153, 153, 153);
}


/*关键字的颜色*/

.pBottom a:link {
    color: rgb(153, 153, 153);
}

.pBottom a:visited {
    color: rgb(153, 153, 153);
}

.pBottom a:hover {
    color: rgb(153, 153, 153);
}

.pBottom a:active {
    color: rgb(153, 153, 153);
}

.linkBaidu {
    margin-left: 63px;
}


/*灰色字体颜色*/

.grayText {
    color: rgb(153, 153, 153);
}


/*图片第二段文字中的图片*/

.imgP2 {
    width: 21px;
    height: 15px;
    display: inline-block;
    background-size: 87%;
    background-repeat: no-repeat;
    background-image: url(../Icon/iconP2.png);
}


/*图片第三段文字中的图片*/

.imgP3 {
    width: 21px;
    height: 16px;
    display: inline-block;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../Icon/iconP3.png);
}
