<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>双飞翼布局</title>
</head>
<link rel="stylesheet" href="./styleSheet/layout.css" />

<body>
    <!-- 容器 -->
    <div class="contain">
        <!-- 顶部 -->
        <div class="header">
            <h1 class="h1">双飞翼布局</h1>
        </div>
        <!-- 顶部 end -->
        <!-- 内容 -->
        <div class="content">
            <!-- 中间内容 -->
            <div class="middle">
                <!-- 中间内容的容器 -->
                <div class="inner">
                    IMAX变身VR IMAX宣布正和谷歌和Starbreeze合作推出6个VR剧场。VR籍此将更受欢迎，对高品质的需求也将增加。 令人兴奋的创意内容将持续产出，把人们置于精彩的虚拟世界中心。 “与谷歌的合作将把我们带到沉浸式体验的下一个前沿——虚拟现实，我们期望通过合作为影片制作者提供未来水平的VR品质。VR标志着IMAX的一次重大机遇。我们相信这个协议是我们广阔VR战略的重要第一步，它能让我们参与图像捕捉和内容创造。”IMAX的CEO Richard Gelfond说。 有了IMAX的强力支持，VR娱乐胜券在握。最终我们会比预料的更早看到VR娱乐出现在我们身边。
                </div>
                <!-- 中间内容的容器 end -->
            </div>
            <!-- 中间内容 end -->
            <!-- 左边内容 -->
            <div class="left">
                <font class="h1">IMAX变身VR IMAX宣布正和谷歌和Starbreeze合作推出6个VR剧场。VR籍此将更受欢迎，对高品质的需求也将增加。 令人兴奋的创意内容将持续产出，把人们置于精彩的虚拟世界中心。 “与谷歌的合作将把我们带到沉浸式体验的下一个前沿——虚拟现实，我们期望通过合作为影片制作者提供未来水平的VR品质。VR标志着IMAX的一次重大机遇。</font>
            </div>
            <!-- 左边内容 end -->
            <!-- 右边内容 -->
            <div class="right">
                <font class="h1">我们相信这个协议是我们广阔VR战略的重要第一步，它能让我们参与图像捕捉和内容创造。”IMAX的CEO Richard Gelfond说。 有了IMAX的强力支持，VR娱乐胜券在握。最终我们会比预料的更早看到VR娱乐出现在我们身边。</font>
            </div>
            <!-- 右边内容 end -->
        </div>
        <!-- 内容 end -->
        <!-- 尾部 -->
        <div class="footer">
            <h1 class="h1">底部</h1>
        </div>
        <!-- 尾部 end -->
    </div>
    <!-- 容器 end -->
</body>

</html>
